<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <serviceProviderBuilder>
      <patch:attribute name="type" value="Democore.Project.Website.DependencyInjection.DefaultServiceProviderBuilder, Democore.Project.Website" />
    </serviceProviderBuilder>
  </sitecore>
</configuration>